<ion-header>
  <ion-toolbar>
    <ion-title>
      Feria de muestras FP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>titulo</h2>
  <p>texto</p>
  <ion-list *ngFor="let stand of stands">
    <ion-item (click)="presentModal(stand)">
      <ion-grid>      
        <ion-row>
          <h2>{{ stand.ciclo_formativo }}</h2>
        </ion-row>
        <ion-row>
            <p>{{ stand.centro }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
